.appWrp {
  width: 760px;
  margin: 0 auto;
}
.container {
  column-width: 250px;
  column-gap: 5px;
  column-count: 3;
}
.toolbar {
  margin: 20px 0;
  text-align: center;
}
.img {
  width: 250px;
}
.FilterBtn {
  background-color: #fff;
  border: 2px solid rgb(80, 79, 79);
  margin-right: 5px;
  padding: 5px 20px;
}
.FilterBtn:hover {
  background-color:rgb(80, 79, 79);
  color: #fff;
}
.FilterBtn:active {
  color: #838080;
}
